@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html {
  box-sizing: border-box;
  background-color: white;
}
header {
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  background-color: rgba(0, 13, 250, 1);
  position: sticky;
  top: 1%;
  border-radius: 10px;
}
h2 {
  margin: 1vh 1vw;
  font-weight: bolder;
  color: white;
}
#nav-bar {
  width: 100%;
}
.nav-link {
  text-decoration: none;
  font-weight: bolder;
  color: rgba(237, 250, 0, 1);
  width: 7vw;
  padding: 2vh 3vw;
  border-radius: 14px;

}
.nav-link:hover {
  background-color: white;
  color: black;
}
#nav-bar > ul > li {
  margin: 0.7vw 0;
  text-align: center;
}
#nav-bar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1vh 1vw;
  float: right;
}
#header-img {
  width: 60px;
  height: 60px;
}
.heading {
  font-size: 3vw;
  font-weight: bold;
}
.paragraph {
  font-size: 1.5vw;
  margin-top: 2%;
}

#head-para {
  margin: 5%;
  text-align: justify;
}
#video {
  float: left;
  margin: 3%;
  border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: column;
}
main > div > section {
  display: flex;
  flex-direction: row;
}
.plan {
  display: flex;
  flex-direction: row;
}
.pl {
  width: 25vw;
  height: 70vh;
  background-color: rgba(197, 197, 197, 0.8);
  margin: 1% 4vw;
  border-radius: 15%;
  border: 3px solid rgba(49, 48, 48, 0.8);
  text-align: center;
  padding: 2%;
  font-size: 1.5vw;
  box-shadow: 10px 10px 5px black;
  overflow: hidden;
}
.h-one {
  font-family: monospace;
  margin: 4%;
}
.h-two {
  font-family: fantasy;
  margin: 4%;
}
.h-three {
  font-family: cursive;
  margin: 4%;
}
.value {
  margin-top: 10%;
}
#plan-button {
  width: 8vw;
  height: 4vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 60%;
  border-radius: 10%;
}
#plan-button:hover {
  background-color: black;
  color: white;
}
.b1{
  margin-top: 50%;
}
.b2 {
  margin-top: 30%
}
.b3 {
  margin-top: 10%
}
#already-a-user {
  width: 100%;
}
label {
  padding: 2%;
  font-size: 150%;
}
input{
  border: none;
  width: 20%;
  height: 2vw;
  font-size: 120%;
  border-radius: 20px;
  padding: 0.5% 1%;
  background-color: rgba(162, 179, 240, 1);
  color: white;
  box-shadow: 10px 10px 5px black;
}
textarea {
  border: none;
  font-size: 120%;
  border-radius: 20px;
  background-color: rgba(162, 179, 240, 1);
  color: white;
  box-shadow: 10px 10px 5px black;
 padding: 1%;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 1);
  box-shadow: 10px 10px 5px black;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5%;
  margin-top: 2%;
}
.submit {
  width: 8vw;
  height: 4vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 60%;
  border-radius: 20px;
  color: black;
  font-size: 1vw;
  margin: 2%;
  align-self: center;
}
footer {
  padding: 1%;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-size: 1vw;
}
.profile {
  text-decoration: none;
  font-weight: bolder;
  color: rgba(237, 250, 0, 1);
  width: 7vw;
  border-radius: 14px;
}
.profile:hover {
  background-color: white;
  color: black;
}
